@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #080808;
  --border: #2b2b2b;
  --primary: #0e78bf;
  --secondary: #dde6ea;
  --accent: #0ea7bf;
  --textprimary: #6a717f;
  --lightgray: #202c2a;
  --headingbackground: var(--border);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0e0e0e;
    --foreground: #ededed;
    --border: #202c2a;
    --headingbackground: #030d0a;
    --primary: #1b2d51;
    --secondary: #47506d;
    --accent: #0ea7bf;
    --textprimary: #6a717f;
    --lightgray: #202c2a;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  border: var(--border);
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
